/* Default styling for full website */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
 }
html , body
{ 
height: 100%;
width: 100%;
scroll-behavior: smooth;
}

:root{
  --bs-dark-color: #1a1d20;
  --bs-dark-primary:#1c1c1c;
  --bs-main-color:#fff;
  --bs-primary-color:#c6c6c6;
  --secondary-color: #29a9fd;
  --bs-supporting-color: #C850C0;
}

h1, h2,h3,h4,h5{
  font-family: 'Lexend Deca', sans-serif;
  color: var( --bs-dark-color);
}


h1{
  font-size: 3.5rem;
}

h2{
  line-height: 3rem;
  font-weight: 600;
  font-size: 3.4rem;
}

p{
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: var( --bs-dark-color);
  letter-spacing: 0.07rem;
  line-height: 1.55rem;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

/* 1. navbar */
.bg-color{
  background-color: var(--bs-dark-primary);
}


.navbar-brand
{
  color:var(--bs-main-color);
}

.navbar-brand:hover {
  color: var(--secondary-color);
}

.navbar-nav .nav-link.active{
  color:var(--bs-main-color);
}

.navbar-nav .nav-link.active:hover{
  color:var(--secondary-color);
}

.navbar-toggler
{
  color: white;
}

.navbar{
  position: sticky;
  top: 0;
}

/* 2. Hero Section */
.herosection-height{
  height: calc( 100vh - 3.2rem);
}



.hero-section
{
  color: var(--bs-main-color);
  border-bottom: 1px solid rgb(92, 92, 92);

}
#herosection_rightside_img{
  width: 60%;
 }

.herosection-h1color
{
  color: var(--bs-main-color);

}

.herosection-h1:hover
{
  color: var(--secondary-color);
}

.herosection-pcolor
{
  color: var(--bs-primary-color);

}

 
 /* making herosection right side img larger for smaller screens(xsm,sm,md) */
   @media (max-width: 991px) {
     #herosection_rightside_img{
      width: 100%;
      margin-bottom: 0.8rem;
    }}

    /*making herosection responsive  */
  @media (max-width: 767px) {
    .hero-section{
      height: auto;
    }
  }


  /* 3.Service Section */

  .service-section
  {
    height: 100vh;
  border-bottom: 1px solid rgb(92, 92, 92);

  }

  .service-section-heading
  {
    font-size: 2.8rem;
    color: var(--bs-main-color);
}
.service-section-heading:hover
{
  color: var(--secondary-color);
}
.card
{
  border: 0.2px solid rgb(43, 43, 43);
  transition: all 0.3s ease;
}
.card:hover
{
  transform: scale(1.1);
}
.card-text
{
  margin: 0.5rem 0;
}

.card .card-title
{
  color: var(--bs-main-color);
}

.card .card-text
{
  color: var(--bs-primary-color);
}
    /*making servicesection responsive  */
    @media (max-width: 991px) {
      .service-section{
        height: auto;
      }

      .service-section-heading
      {
        margin:2rem 0 ;
      }
      .card
      {
        margin-bottom: 0.8rem;
      }
    }

  @media (min-width:991px) 
  {
    .service-section-heading
    {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  /* 5.Contact us section */
.Contactus-section
{
  height: 100vh;
  border-bottom: 1px solid rgb(92, 92, 92);

}
.CS-heading:hover {
  color: var(--secondary-color);
}

.formcontainer
{
  max-width: 50%;
  margin: auto;
}

@media (max-width:992px) {
  .formcontainer
{
  max-width: 80%;

}
.Contactus-section
{
  height: auto;
}
}

/* 6.About us section */


.ASheading:hover {
  color: var(--secondary-color);
}
  #aboutus
  {
    height:100vh;
  }


  @media (max-width:992px) {
  #aboutus
  {
    height: auto;
  
  }

}



/* Scrollbar styling */
body::-webkit-scrollbar
{
    background-color: #313131;
}

body::-webkit-scrollbar-thumb
{
    background: #249ae9b7;
    border-radius: 3px;
}