/* Default styling for full website */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
 }
html , body
{ 
height: 100%;
width: 100%;
}

:root{
  --bs-dark-color: #1a1d20;
  --bs-dark-primary:#1c1c1c;
  --bs-main-color:#fff;
  --bs-primary-color:#c6c6c6;
  --secondary-color: #29a9fd;
  --bs-supporting-color: #C850C0;
}

h1, h2,h3,h4,h5{
  font-family: 'Lexend Deca', sans-serif;
  color: var( --bs-dark-color);
}


h1{
  font-size: 3.5rem;
}

h2{
  line-height: 3rem;
  font-weight: 600;
  font-size: 3.4rem;
}

p{
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: var( --bs-dark-color);
  letter-spacing: 0.07rem;
  line-height: 1.55rem;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

/* 1. navbar */
.bg-color{
  background-color: var(--bs-dark-primary);
}

.navbar-brand
{
  color:var(--bs-main-color);
}

.navbar-brand:hover {
  color: var(--secondary-color);
}

.navbar-nav .nav-link.active{
  color:var(--bs-main-color);
}

.navbar-nav .nav-link.active:hover{
  color:var(--secondary-color);
}

.navbar-toggler
{
  color: white;
}


/* Hero Section */
.hero-section
{
  color: var(--bs-main-color);
}
#herosection_rightside_img{
  width: 60%;
 }

.herosection-h1color
{
  color: var(--bs-main-color);

}
.herosection-pcolor
{
  color: var(--bs-primary-color);

}

/* Custom shape in the end of hero section */
.custom-shape-divider-bottom-1698767906 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698767906 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.custom-shape-divider-bottom-1698767906 .shape-fill {
  fill: #FFFFFF;
}
/*  */
 
 /* making herosection right side img larger for smaller screens(xsm,sm,md) */
   @media (max-width: 992px) {
     #herosection_rightside_img{
      width: 100%;
    }}

    /*making herosection responsive  */
    .hero-section{
      height: 90vh;
    }

  @media (max-width: 767px) {
    .hero-section{
      height: auto;
    }
  }